extends layout

block content
  .d-flex.align-items-center.bg-dark.p-3
    .flex-grow-1
      .d-none.d-md-flex.flex-row
        .d-flex.flex-column.mr-2(style='color: #909090; font-weight: bold;')
          p.m-0(style='font-size: 1.3rem; line-height: 1.3rem;') THE 
          p.m-0(style='font-size: 1.5rem; line-height: 1.5rem;') UNOFFICIAL
        h1.mb-0(style='color: var(--bs-light); font-weight: bold; font-size: 3rem; line-height: 3rem;') &nbsp;vMix API Reference 
        //- span(style='font-weight: normal; color: #909090;') v24
      .d-flex.d-md-none
        h5.font-weight-bold.text-light.mb-0 The unofficial
          br
          | vMix API reference
    .d-flex.flex-row(style='column-gap: 1em;')
      //- a.btn.btn-outline-primary(data-bs-toggle='offcanvas' href='#offcanvasExample' role='button' aria-controls='offcanvasExample') Full function list
      a.btn.btn-primary(data-bs-toggle='modal' data-bs-target='#aboutModal') About
  .d-flex.flex-row.flex-grow-1.mt-3
    .container-fluid.d-none.d-md-block(style='width: auto; padding-left: 0;')
      .accordion-flush#referenceList

    .container-fluid.flex-grow-1.mb-5
          
      label.form-label(for='exampleDataList') Search vMix v24 API database:
      .input-group.input-group-lg.mb-5
        input#apiList.form-control.form-control(list='apiListOptions' placeholder='Type to search...' autofocus style='border-width: 5px; font-weight: bold;')
        button.btn.btn-outline-secondary#inputClear(type='button') Clear
      datalist#apiListOptions
      
      #apiDetails

      #inspiration.d-flex.justify-content-center.my-5
      
  .modal#aboutModal(tabindex='-1')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          h5.modal-title About vMixAPI.com
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          p vMixAPI.com is a third-party utility built by 
            a(href="https://github.com/phuvf") Nick Roberts
            | .
          p My day job is Lead Developer for 
            a(href="https://octocue.com") OctoCue 
            | - a remote slide control tool - but I also program and operate vMix shows for corporate clients worldwide.
          p vMixAPI.com is not made, operated or endorsed, by StudioCoast Pty Ltd. (the makers of vMix) - don't write to them if you find a mistake.
          p All the API information is sourced from vMix's own documentation, and the original source material should be referenced if required:
          ul 
            li
              a(href="https://www.vmix.com/help23/index.htm?ShortcutFunctionReference.html") vMix shortcut function reference table
            li
              a(href="https://www.vmix.com/help23/index.htm?VBNetScripting.html") VB.NET scripting reference
            li
              a(href="https://www.vmix.com/help23/index.htm?WebScripting.html") Web scripting reference
            li
              a(href="https://www.vmix.com/help23/index.htm?TCPAPI.html") TCP API reference
            li 
              a(href="https://www.vmix.com/help23/index.htm?DeveloperAPI.html") HTTP GET API reference
          p If you find this utility useful, consider buying me a coffee:
            script(type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js')
            script(type='text/javascript').
              kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'X8X073GQ3');kofiwidget2.draw();
          p Questions? Comments? Found a mistake? 
            a(href="mailto: nick@zinc.uk.com") Drop me an email
            | .
          p Finally, there's no guarantee that anything on this site is relevant, correct or useful. Use at your own risk.
          p Happy vMixing!
        .modal-footer
          button.btn.btn-primary(type='button' data-bs-dismiss='modal') Close

  .modal#warningModal(tabindex='-1')
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title.text-warning Caution!
        .modal-body
          p.lead This is a third-party utility that describes the vMix API and shortcut functions.
          p It's not the original reference source - you should refer to the 
            a(href="https://www.vmix.com/help23/index.htm?ShortcutFunctionReference.html") vMix shortcut table on vmix.com
            |  for this.
          p vMixAPI.com is not made, operated or endorsed by StudioCoast Pty Ltd. so don't write to them if you find a mistake here.          
        .modal-footer
          button#dismissWarning.btn.btn-primary(type='button' data-bs-dismiss='modal') Close