extends layout

block content
  h1 vMix API Reference
  .my-3 
    a.btn.btn-outline-primary.mb-3(data-bs-toggle='offcanvas' href='#offcanvasExample' role='button' aria-controls='offcanvasExample') Full function list
  label.form-label(for='exampleDataList') Search 408 API functions:
  .input-group.input-group-lg.mb-3
    input#apiList.form-control.form-control(list='apiListOptions' placeholder='Type to search...')
    button.btn.btn-outline-secondary#inputClear(type='button') Clear
  datalist#apiListOptions
  
  #apiDetails

  nav.navbar.fixed-bottom.navbar-light.bg-light
    .container-fluid.d-flex
      p.fs-7.mb-0 Not an official vMix product.
      p.mb-0.text-align-right A 10% project by 
        br
        | the team at 
        a(href="https://octocue.com") OctoCue
        | .
      


  #offcanvasExample.offcanvas.offcanvas-start(tabindex='-1' aria-labelledby='offcanvasExampleLabel')
    .offcanvas-header
      h5#offcanvasExampleLabel.offcanvas-title Full API function list
      button.btn-close.text-reset(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
    .offcanvas-body
      div
        ul#referenceList