extends layout

block content
  h1 vMix API Reference
  //- label.form-label(for='exampleDataList') Search
  .input-group.input-group-lg.mt-5.mb-3
    span.input-group-text Function:
    input#apiList.form-control.form-control(list='apiListOptions' placeholder='Type to search...')
    button.btn.btn-outline-secondary.d-none.d-lg-block(type='button') Clear
  datalist#apiListOptions
  a.btn.btn-outline-primary.mb-3(data-bs-toggle='offcanvas' href='#offcanvasExample' role='button' aria-controls='offcanvasExample') Full function list
  
  #apiDetails

  nav.navbar.fixed-bottom.navbar-light.bg-light
    .container-fluid.d-flex
      p.fs-7.mb-0 This utility is not an official vMix product.
      p.mb-0 A 10% project by 
        a(href="https://octocue.com") OctoCue
        | .
      


  #offcanvasExample.offcanvas.offcanvas-start(tabindex='-1' aria-labelledby='offcanvasExampleLabel')
    .offcanvas-header
      h5#offcanvasExampleLabel.offcanvas-title Full API function list
      button.btn-close.text-reset(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
    .offcanvas-body
      div
        ul#referenceList