body {
  padding: 50px;
  font-family: 'Poppins', sans-serif;
}

a {
  color: #00B7FF;
}

.inlineCode {
  background: var(--bs-light);
  padding: 0.5em;
  font-family: monospace;
  border-radius: 10px;
  color: var(--bs-primary);
}
.code {
  background: var(--bs-light);
  padding: 1em;
  font-family: monospace;
  font-size: 1.2em;
  border-radius: 10px;
  color: var(--bs-primary);
}

 body{
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

article {
  flex: 1;
}

.apiCard {
  border: 3px solid var(--bs-primary);
  background-color: var(--bs-primary);
}

.apiCard .card-header {
  background-color: var(--bs-primary);
  color: white;
  font-weight: bold;
  /* border-radius: 0; */
  line-height: 1.5em;
}

.apiCard .card-body {
  background-color: #eef5ff;
}

p.group-item {
  margin-bottom: 0;
}